<!DOCTYPE html>
<html lang="en">

  <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Dashboard officiel d'Alicia">
        <meta name="author" content="Vivic#2393">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Alicia">
        <meta property="og:url" content="https:/alicia-bot.tk/commands">
        <meta property="og:site_name" content="Alicia">
        <meta name="copyrighted-site-verification" content="c02c2051def6707d" />
        <meta content="https://cdn.discordapp.com/avatars/495630981714411530/3b6734f57dc98a100693179b24ba0f20.png?size=512" property="og:image">
        <!-- Favicon-->
        <link href="https://cdn.discordapp.com/avatars/495630981714411530/3b6734f57dc98a100693179b24ba0f20.png?size=512"
                rel="icon" type="image/x-icon">

    <title>Alicia</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
          <img class="img-fluid" src="https://cdn.discordapp.com/avatars/544124530722078739/583f4dc7d807511ddb66567342dc4797.webp?size=512" alt="Logo" width="30px" height="30px">
        <a class="navbar-brand" href="/" >Alicia
        </a>
        <a class="navbar-brand" href="/commands">Commandes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Se connecter</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/status">Statut</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="/invite" target="_blank">Invite moi</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <img class="img-fluid bot-avatar rounded-circle" src="https://cdn.discordapp.com/avatars/544124530722078739/583f4dc7d807511ddb66567342dc4797.webp?size=512" width="200px" height="200px" alt="">
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;">Alicia</h3>
          <h4>Un bot multifonction avec des commandes performantes</h4>
            <br/>
            <a class="btn" href="https://discordapp.com/oauth2/authorize?client_id=544124530722078739&amp;scope=bot&amp;permissions=-1" role="button">
              <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            Invite moi</a>
            <a class="btn" href="/login" role="button">
                <span>
                  <i aria-hidden="true"></i>
                </span>Se connecter</a>
        </div>
      </div>
    </header>

    <br>

    <center>
      <section class="section">
        <div class="boite">
          <h1 class="m-0 text-center text-black big"><mark>Informations et Statistiques</mark></h1>
          </div>
        </section>
      </center>

    <center><section>
      <div class="container">
            <div class="p-4">
              <h3><br>Le créateur et ses contributeurs</h3>
              <p><br>Le créateur d'Alicia est <strong>Vivic#2393</strong> avec l'aide d'<strong>Ota</strong> !</p>
            </div>
      </div>

        <div class="container">
              <div class="p-4">
                <h3><br>Statistiques d'Alicia</h3>
                <h5><br><i class="fa fa-fw fa-server" aria-hidden="true"></i> Nombre de serveurs : 237</h5>
                <h5><i class="fa fa-fw fa-users" aria-hidden="true"></i> Nombre de membres : 45962</h5>
                <h5><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>En ligne depuis : 20 heure(s), 52 mins(s), 47 secs</h5>
        <br>
        </div>
        </div>
      </section>
  </center>

    <footer class="py-3 bg-black">
      <div class="container">
        <center><p class="m-0 text-center text-white small">2019 © Dashboard offciel d'Alicia <br><a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/VY3Li0CZhI2zicTg"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/02_2_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/02_2.png" /></a></center>
      </div>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135002793-1"></script>
  
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
      }
      
      gtag('js', new Date());
  
    gtag('config', 'UA-135002793-1');
    </script>
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
